/***************************************************

General Styles

***************************************************/

body {
	overflow-y: hidden;
}

.container-fluid{
	display: block;
}

/***************************************************

Off Canvas Styles

***************************************************/

.off-canvas-main-menu,
.off-canvas-more-info,
.outside-main-menu-btn,
.open-more-info-btn {
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.5s ease-out;
     transition: transform 0.5s ease-out;
	z-index: 1;	
}

.off-canvas-main-menu {
	height: 100%;
	-webkit-transform: translateX(-300px);
    transform: translateY(-300px);
}

.off-canvas-more-info {
	-webkit-transform: translateY(300px);
    transform: translateY(300px);
}

.off-canvas-main-menu.open,
.off-canvas-more-info.open {
	-webkit-transform: translateY(0);
    transform: translateY(0);
}

.outside-main-menu-btn.visible {
	-webkit-transform: translateY(0);
    transform: translateY(0);
}

.open-more-info-btn.visible {
	-webkit-transform: translateX(50%);
    transform: translateX(50%);	
}

/***************************************************

Buttons

***************************************************/

.inside-main-menu-btn,
.outside-main-menu-btn,
.open-more-info-btn,
.close-more-info-btn {
	position: absolute;
	z-index: 2;
}

.inside-main-menu-btn {
	right: 0;
	top:0;
	padding: 20px;
}

.outside-main-menu-btn {
	-webkit-transform: translateY(-250px);
    transform: translateY(-250px);	
	left: 25px;
	top: 60px;
	margin: 0 auto; 		
}

.open-more-info-btn {
	-webkit-transform: translateX(-200px);
    transform: translateX(-200px);	
	bottom : 70px;
	left:0;	
}

.close-more-info-btn  {
	top: -20px;
	right: 50px;
}

.outside-main-menu-btn img,
.inside-main-menu-btn img,
.close-more-info-btn img {
	max-width: 50px;
}

.open-more-info-btn img {
	max-width: 200px;
}

.outside-main-menu-btn a, .outside-main-menu-btn span:hover,
.inside-main-menu-btn a, .inside-main-menu-btn span:hover  {
	text-decoration: none;
}

.outside-main-menu-btn span,
.inside-main-menu-btn span {
	font-weight: bold;
	font-size: 1.3em;
	color: black;
}

/***************************

Main Menu

***************************/

.main-menu {
	top: 0;
	left: 0;
	right: 0;
	width: 	70%;
	margin: 0 auto;
	max-height: 225px;
	background-color: rgba(255, 255, 255, .7);
	overflow-y: auto;
}

.main-menu h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

#search {
	 width: 100%;
	 display: block;
}


.list-of-places {
	margin-top: 10px;
	height: 100%;
	padding: 0;
	
}

.list-of-places li {
	display: inline-block;
	list-style: none;
	font-size: 1.1em;
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 10px;
}

/******************************
	
More Info Container

*******************************/

.more-info-container {
	z-index: 1;
	bottom: 0;
	right: 0;
	height: 250px;
	width: 100%;
	background-color: rgba(255, 255, 255, .7);
	position: fixed;
}

/******************************
	
YELP Section

*******************************/

#yelp {
	border-right: 2px solid black;
	height: 100%;
	overflow-y: auto;
}

#yelp p {
	font-weight: bold;
}

#yelp p span {
	font-weight: lighter;
}

.yelp-review-btn {
	margin-top: 10px;
	max-width: 100px;
	width: 100%;
}

/******************************

InfoWindow Section

*******************************/

.infowindow {
	height: 100%;
	max-height: 300px;
	overflow-y: auto;
}

.infowindow h4 {
	text-align: center;
}

.infowindow li {
	list-style: none;
}

.infowindow span {
	font-size:1.1em;
	font-weight: bold;
}

.infowindow h5 {
	text-align: center;
}

#mapCanvas {
	display: block;
	width: 100%;
	height: 1000px; 
}