h1 {
	margin-top: 50px;
}

#search {
	 width: 50%;
	 display: inline-block;
}

#places {
	text-align: center;
	display: block;
	width: 80%;
	margin: 40px auto;
	float: none;

}

.listPlaces {
	overflow-y: auto;
	height: 100px;
	padding: 0;
	display: flex;
	flex-direction: row;	
	flex-wrap: wrap; 
}

.listPlaces li {
	list-style: none;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	background-color: #3cb6e7;
	color: white;
}

#mapCanvas {
	width: 100%; 
	height: 800px;
}
.infowindow h4 {
	text-align: center;
}

.infowindow li {
	list-style: none;
}

.infowindow span {
	font-size:1.1em;
	font-weight: bold;
}

.infowindow h5 {
	text-align: center;
}