.hide-on-medium {
	display: none;
}

.visible-on-medium {
	display: block;
}

.main-menu {
	max-height: 300px;
}

.main-menu h1 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.main-menu h3 {
	font-size: 1.3em;
	text-align: center;
}

.list-of-places {
	max-height: 175px;
}

.off-canvas-main-menu {
	-webkit-transform: translateY(-500px);
    transform: translateY(-500px);	
}

.inside-main-menu-btn {
	left: 0;
	right: 0;
	width: 70%;
	margin: 0 auto;
}

.open-more-info-btn img {
	max-width: 150px;
}

@media (max-width: 750px) {
	.list-of-places {
		max-height: 80px;
	}
}