.container-fluid {
	padding: 0;
}

.main-menu {
	max-height: 1000px;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 10px;
}

.main-menu h1 {
	margin: 0;
	padding: 10px;
}

.outside-main-menu-btn {
	left: 0;
	right: 0;
	width: 150px;
	margin: 0 auto;
}

a.outside-main-menu-btn img {
	float: left;
	margin-right: 10px;
}

.outside-main-menu-btn.visible {
	-webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.inside-main-menu-btn {
	right: 10%;
	top:0;
	width: 30px;
}

.open-more-info-btn img {
	max-width: 100px;
}

.list-of-places {
	flex-direction: column;	
}

.more-info-container {
	margin: 0;
}

#mapCanvas {
	height: 600px;
}